In [1]:
import sqlite3
from sqlite3 import Error

database = "minitweet_full.db"

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        return connection
    except Error as e:
        print(e)
        
        

def execute_query(connection, query):
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        #connection.commit()
        print("Query successful")
        return cursor
    except Error as err:
        print(f"Error: '{err}'")
    
    

        
def execute_query_params(connection, query,params):
    try:
        cursor = connection.cursor()
        cursor.execute(query,params)
        #connection.commit()
        print("Query successful")
        return cursor
    except Error as err:
        print(f"Error: '{err}'")
    
connection = create_connection(database)

In [11]:
#change users table to user table

create_user_table = """
CREATE TABLE users_table (
  userID VARCHAR(256) PRIMARY KEY,
  password VARCHAR(256) NOT NULL,
  first_name VARCHAR(256) NOT NULL,
  dob DATE NOT NULL,
  doj DaTE NOT NULL,
  gender VARCHAR(256) NOT NULL,
  is_online BOOL NOT NULL,
  bio TEXT
  );
 """

create_auth_table ="""
CREATE TABLE auth_table (
userID VARCHAR(256) NOT NULL,
auth_token VARCHAR(256) PRIMARY KEY
);
"""

create_tweet_table = """
CREATE TABLE tweet_table (
  tweetID INT PRIMARY KEY,
  tweet VARCHAR(500),
  userId VARCHAR(256) NOT NULL,
  retweetID INT,
  date_pub DATETIME,
  hashtags TEXT
  );
 """

create_following_table =  """
CREATE TABLE follow_table (
userID VARCHAR(256) NOT NULL,
follow VARCHAR(256) NOT NULL
);
"""

create_chat_table =  """
CREATE TABLE chat_table (
chatID INT NOT NULL,
userID VARCHAR(256) NOT NULL,
comment VARCHAR(256),
time DATETIME
);
"""

create_ch2_table= """
CREATE TABLE ch2_table (
userID VARCHAR(256) NOT NULL,
chatID INT NOT NULL,
chatname VARCHAR(256) NOT NULL
);
"""


create_hashtag_table =  """
CREATE TABLE hashtag_table (
hashtag VARCHAR(256) NOT NULL,
tweetID INT NOT NULL
);
"""

create_liked_tweet_table =  """
CREATE TABLE liked_tweet_table (
tweetID INT NOT NULL,
userID VARCHAR(256) NOT NULL
);
"""



cursor=execute_query(connection, create_user_table)
cursor=execute_query(connection, create_auth_table)
cursor=execute_query(connection, create_tweet_table)
cursor=execute_query(connection, create_following_table)
cursor=execute_query(connection, create_chat_table)
cursor=execute_query(connection, create_hashtag_table)
cursor=execute_query(connection, create_liked_tweet_table)
cursor=execute_query(connection, create_ch2_table)

for i in cursor:
    print(i)

Error: 'table users_table already exists'
Error: 'table auth_table already exists'
Error: 'table tweet_table already exists'
Error: 'table follow_table already exists'
Error: 'table chat_table already exists'
Error: 'table hashtag_table already exists'
Error: 'table liked_tweet_table already exists'
Error: 'table ch2_table already exists'

In [7]:
user_entry="""
INSERT INTO chat_table VALUES (?,?,?,DATETIME(?));
"""
t = (1,'bhej','vraj','2019-07-27 23:59:59')

cursor=execute_query_params(connection, user_entry,t)

for i in cursor:
    print(i)

Query successful

In [8]:
query = """
SELECT * FROM chat_table;
"""
t=()

cursor=execute_query_params(connection, query,t)

for i in cursor:
    print(i)

Query successful
(1, 'bhej', 'vraj', '2019-07-27 23:59:59')