In [3]:
import sqlite3
from sqlite3 import Error

database = "minitweet.db"

In [18]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    connection = None
    try:
        connection = sqlite3.connect(db_file)
        return connection
    except Error as e:
        print(e)

    #return connection


def execute_query(connection, query):
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        #connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
    
    return cursor

def execute_query_params(connection, query,params):
    try:
        cursor = connection.cursor()
        cursor.execute(query,params)
        #connection.commit()
        print("Query successful")
        return cursor
    except Error as err:
        print(f"Error: '{err}'")

In [7]:
#establishing a connection

connection = create_connection(database)

In [82]:
create_user_table = """
CREATE TABLE users_table (
  userID VARCHAR(256) PRIMARY KEY,
  password VARCHAR(256) NOT NULL,
  first_name VARCHAR(256) NOT NULL,
  last_name VARCHAR(256) NOT NULL,
  followers TEXT,
  following TEXT,
  is_online BOOL,
  tweet_ids TEXT
  );
 """

create_auth_table ="""
CREATE TABLE auth_table (
userID VARCHAR(256) PRIMARY KEY,
auth_token VARCHAR(256) NOT NULL
);
"""

cursor=execute_query(connection, create_user_table)
cursor=execute_query(connection, create_auth_table)

for i in cursor:
    print(i)

Error: 'table users_table already exists'
Error: 'table auth_table already exists'

In [ ]:
#Full Schema

create_user_table = """
CREATE TABLE user_table (
  userID VARCHAR(256) PRIMARY KEY,
  password VARCHAR(256) NOT NULL,
  first_name VARCHAR(256) NOT NULL,
  last_name VARCHAR(256) NOT NULL,
  followers TEXT,
  following TEXT,
  is_online BOOL,
  tweet_id TEXT,
  liked_tweet TEXT
  );
 """

create_auth_table ="""
CREATE TABLE auth_table (
userID VARCHAR(256) PRIMARY KEY,
auth_token VARCHAR(256) NOT NULL
);
"""

create_tweet_table ="""
CREATE TABLE users_table (
  tweet_id VARCHAR(256) PRIMARY KEY,
  password VARCHAR(256) NOT NULL,
  first_name VARCHAR(256) NOT NULL,
  last_name VARCHAR(256) NOT NULL,
  followers TEXT,
  following TEXT,
  is_online BOOL,
  tweet_ids TEXT,
  liked_tweet TEXT
  );
 """

cursor=execute_query(connection, create_user_table)
cursor=execute_query(connection, create_auth_table)

for i in cursor:
    print(i)

In [10]:
# adding dummy data

insert_user = """
INSERT INTO users_table VALUES
('Kishen_19', 'chicken', 'Kishen', 'gowda', NULL, NULL, 0, NULL);
"""
cursor=execute_query(connection, insert_user)

for i in cursor:
    print(i)

Query successful

In [13]:
insert_auth = """
INSERT INTO auth_table VALUES
('Kishen_19','falfhaf986fayfa0fy0afy0a7fa');
"""
cursor=execute_query(connection, insert_auth)

for i in cursor:
    print(i)

Query successful

In [81]:
query=("SELECT * FROM users_table")

cursor=execute_query(connection,query)

for i in cursor:
    print(i)

Query successful
('Kishen_19', 'chicken', 'Kishen', 'gowda', None, None, 1, None)
('alphatron', 'bhej', 'vraj', 'patel', 'ok', 'ok', 0, 'ok')

In [52]:
query=("SELECT * FROM auth_table")

cursor=execute_query(connection,query)

for i in cursor:
    print(i)

Query successful
('Kishen_19', 'falfhaf986fayfa0fy0afy0a7fa')
('Kishen', 'g')
('Kishen11', 'g')

In [22]:
insert_user = """
INSERT INTO users_table VALUES
(%s, %s, %s, %s, %s, %s, %b, %s);
"""
params=('alphatron','bhej','vraj','patel','ok','ok',0,'ok')

cursor=execute_query_params(connection, insert_user,params)

for i in cursor:
    print(i)

Error: 'near "%": syntax error'

In [32]:
auth_user = ("INSERT INTO auth_table VALUES (?,?);")
params=('alphatron','bhejafafafa')
name='alphatron'
tok = 'bhejafafafa'
cursor = connection.cursor()
cursor.execute(auth_user,(name,cursor))

#cursor=execute_query_params(connection, insert_user,params)

for i in cursor:
    print(i)

InterfaceError: Error binding parameter 1 - probably unsupported type.

In [43]:
# auth_user="""
# SELECT * FROM users_table where first_name=?
# """

# entering the data in auth table
auth_user = """
INSERT INTO auth_table VALUES (?,?);
"""

t = ('Kishen11','g')
#out=cursor.execute(auth_user, t)
cursor=execute_query_params(connection, auth_user,t)

for i in cursor:
    print(i)

Query successful

In [69]:
# retrieving the data from auth table

auth_tok = """
SELECT * FROM auth_table where userID = ?;
"""
t=('Kishen11',)

cursor=execute_query_params(connection, auth_tok,t)

for i in cursor:
    print(i)

Query successful
<class 'tuple'>

In [67]:
#Entry in usertable

user_entry="""
INSERT INTO users_table VALUES (?,?,?,?,?,?,?,?);
"""
t = ('alphatron','bhej','vraj','patel','ok','ok',0,'ok')

cursor=execute_query_params(connection, user_entry,t)

for i in cursor:
    print(i)

Query successful

In [72]:
#retrieving from user table

query = """
SELECT * FROM users_table where userID = ?;
"""
t=('Kishen_19',)

cursor=execute_query_params(connection, query,t)

for i in cursor:
    print(i)

Query successful
('Kishen_19', 'chicken', 'Kishen', 'gowda', None, None, 0, None)

In [76]:
# userID availability check

query = """
SELECT userId FROM users_table where userID = ?;
"""
t=('Kishen_19',)

cursor=execute_query_params(connection, query,t)

count=0

for i in cursor:
    count+=1
    
if count>0:
    print("the user name is not available")
    
else:
    print("the user name is available")

Query successful
0

In [80]:
#updating a table

query = """
UPDATE users_table SET is_online = ? WHERE userID = ?;
"""

t=(1,'Kishen_19')

cursor=execute_query_params(connection, query,t)

for i in cursor:
    print(i)

Query successful